<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TESTS.LoginTest"/>
      <class name="TESTS.MultyEditTemplateTest"/>
      <class name="TESTS.siteTest"/>
      <class name="UTIL.OTPTest"/>
      <class name="TESTS.DashboardTest"/>
      <class name="TESTS.AppsTest"/>
      <class name="TESTS.PolicyTest"/>
      <class name="TESTS.CPEsTest"/>
      <class name="TESTS.EditTemplateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
